.bg-pattern {
  background: url('../svg/bg-pattern-randomized.svg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  
}

